<suite name="Suite">
    <test name="Test1" >
        <classes>
            <class name="practice.MyTestClass2"/>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="practice.MyTestClass1"/>
            <class name="practice.MyTestClass2"/>
        </classes>
    </test>
</suite>